body {
  margin: 0;
}

header {
  background-image: url(images/mainvisual.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
}

header .header_bg {
  height: 138px;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
}

header .header_bg .logo {
  height: 80px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .header_bg .logo img {
  vertical-align: top;
}

header .header_bg navi {
  font-size: 0;
  background-color: black;
  width: 100%;
  height: 60px;
  position: fixed;
}

header .header_bg navi ul {
  list-style: none;
  width: 1085px;
  margin: 0 auto;
  padding: 0;
  background-color: #3015b5;
}

header .header_bg navi ul li {
  display: inline-block;
}

header .header_bg navi ul li a {
  text-decoration: none;
  color: #fff;
  padding: 30px;
  box-sizing: border-box;
  height: 58px;
  width: 217px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .header_bg navi ul li a:hover {
  background-color: red;
}
